@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

html {
  transition: background-color 0.3s, color 0.3s;
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

.Toastify__toast {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin-bottom: 12px !important;
  min-height: auto !important;
  border-radius: 0 !important;
  backdrop-filter: none !important;  
  width: 100% !important; 
}

.Toastify__toast-body {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}

.Toastify__toast-container {
  width: 100% !important;
  max-width: 400px;       
  width: auto !important;
  padding: 0 !important;
}

.Toastify__close-button {
  display: none;
}
